body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: aqua;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo img {
width: 200px;
display: block;
margin: 0% auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.promo-banner {
    padding: 20px;
    text-align: center;
}

.content-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: lightpink;
}

.column {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.column img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.footer-column {
    text-align: center;
}

.small-logo img {
    max-width: 80%;
}

footer p {
    margin: 0;
}

.navbar ul {
list-style: none;
text-align: center;
background-color: #333;
text-decoration-color: white;
}

.navbar li {
    display: inline-block;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
}

.navbar a:hover {
    color: blueviolet;
}

  
  